.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
}

.formWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background-color: var(--primary-bg);
}