.chart {
    border-bottom: 2px solid var(--secondary-color);
    border-left: 2px solid var(--secondary-color);
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    height: 150px;
    width: 100%;
    padding: 0 20px;
}

.chart::before{
    position: absolute;
    content: '';
    top: 2px;
    left: -6px;
    height: 2px;
    width: 10px;
    background: var(--secondary-color);
}

.bar {
    position: relative;
    animation: barLoading .5s linear;
}

.barLabel {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.labelsList {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.label {
    display: flex;
    align-items: center;
    gap:5px;
}

.labelColor {
    height: 10px;
    width: 15px;
}


.bar:hover .barTooltip {
    display: block;
    position: absolute;
    opacity: 1;
}

.barTooltip {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 5px 10px;
    white-space: nowrap;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.chartWrapper {
    display: flex;
    flex-direction:column;
    gap: 20px;
    position: relative;
    padding: 0 50px 0 50px;
    width: 100%;
}

@keyframes barLoading {
    0% {
        height: 0%
    }
}