.list {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 10px;
}

.listItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
}

.itemLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 2px;
}

.itemBar {
    height: 30px;
    background-color: var(--primary-font-transparent);
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.animated {
    animation: barLoading .8s ease-in-out;
}

.itemBarFiller {
    height: 100%;
}

.fillPercent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes barLoading {
    0% {
        width: 0%;
    }
}