.form {
    padding: 40px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: var(--primary-bg);
}

.select {
    background: var(--primary-bg);
}

.addBtn {
    border: 2px solid var(--secondary-bg);
    border-radius: var(--btn-border-radius);
    padding: var(--btn-padding);
    font-size: var(--primary-font-size);
}

.closeFormBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: var(--primary-color);
    font-weight: bold;
}

.dropdowns {
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dropdownWrapper {
    height: 60px;
    position: relative;
    width: 100%;
}

.dropdownError {
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--primary-color);
    z-index: 1;
}

.commentInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s ease;
    color: var(--primary-bg);
    background-color: var(--primary-font);
    border-radius: 16px 16px 0 0;
    z-index: 3;
}

.commentInputHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}

.commentInputHeaderIcon {
    font-size: 34px;
}

.commentBlur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.dateBtn {
    border: 2px solid var(--primary-color);
    padding: 5px 10px;
    border-radius: var(--btn-border-radius);
}

.dateBtn:hover {
    border-color: var(--secondary-color);
}